testBlio/Service References/ServiceReferenceBibliotheque/ServiceBibliotheque1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49663/ServiceBibliotheque.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" />
  <xs:element name="s_inscrire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="user" nillable="true" type="q1:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="s_inscrireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addAuteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newAuteur" nillable="true" type="q2:Auteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAuteurResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAuteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newAuteur" nillable="true" type="q3:Auteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAuteurResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAuteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAuteurResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addLivre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newLivre" nillable="true" type="q4:Livre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLivreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLivre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newLivre" nillable="true" type="q5:Livre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLivreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLivre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLivreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newCategorie" nillable="true" type="q6:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategorieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newCategorie" nillable="true" type="q7:Categorie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategorieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategorieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addPret">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newPret" nillable="true" type="q8:Pret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPretResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePret">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="newPret" nillable="true" type="q9:Pret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePretResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePret">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePretResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="getUserResult" nillable="true" type="q10:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceBibliotheque" minOccurs="0" name="getUsersResult" nillable="true" type="q11:ArrayOfUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>